* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {

    font-family: "Inter", sans-serif;
    background: var(--background);
    color: var(--text);

}

html,
body,
#root {

    min-height: 100vh;

}

#root {

    display: flex;
    flex-direction: column;

}

main {

    flex: 1;

}

a {

    text-decoration: none;
    color: inherit;

}

ul {

    list-style: none;

}