.footer{

    background:#0f172a;

    color:white;

    margin-top:0;

}

.footer-grid{

    display:grid;

    grid-template-columns:2fr 1fr 1.2fr 1fr;

    gap:50px;

    padding:70px 0;

}

.footer-logo{

    width:220px;

    margin-bottom:25px;

}

.footer p{

    color:#cbd5e1;

    line-height:1.8;

}

.footer h3{

    margin-bottom:22px;

    color:white;

    font-size:20px;

}

.footer ul{

    display:flex;

    flex-direction:column;

    gap:14px;

}

.footer li{

    color:#cbd5e1;

    display:flex;

    gap:10px;

    align-items:center;

}

.footer a{

    transition:.3s;

}

.footer a:hover{

    color:white;

}

.footer-bottom{

    border-top:1px solid rgba(255,255,255,.1);

    text-align:center;

    padding:20px;

    color:#94a3b8;

}